/*
  Basic normalization
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

/*
  Fonts
*/

@font-face {
  font-family: 'Staatliches';
  src: url('../fonts/Staatliches-400.woff2') format('woff2'),
    url('../fonts/Staatliches-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-300.woff2') format('woff2'),
    url('../fonts/Inconsolata-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-400.woff2') format('woff2'),
    url('../fonts/Inconsolata-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
